@page
@model OperacionesModel
@{
    ViewData["Title"] = "Operaciones algebráicas";            
}
<form method="get">
    <div class="mb-3">
        <label for="op1" class="form-label">Operando 1:</label>
        <input type="number" class="form-control" id="op1" asp-for="op1" placeholder="Escribir Operando 1">
    </div>
    <div class="mb-3">
        <label for="op2" class="form-label">Operando 2:</label>
        <input type="number" class="form-control" id="op2" asp-for="op2" placeholder="Escribir Operando 2">
    </div>
    <div class="mb-3">
        <label for="op2" class="form-label">Operación:</label>
        <select class="form-control" id="opercion" asp-for="operacion">
            <option value="1">Sumar</option>
            <option value="2">Restar</option>
            <option value="3">Multiplicar</option>
            <option value="4">Dividir</option>
        </select>
    </div>
    <div class="mb-3">
        <button class="btn btn-primary" id="ejecutar">Ejecutar Operacion</button>
    </div>
    <div class="mb-3">
        <label for="op2" class="form-label">Resultado:</label>
        <input type="text" class="form-control" id="resultado" disabled placeholder="Aquí aparecerá el resultado" value="@Model.resultado">
    </div>
</form>